.landing-main {
  height: 100vh;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  display: flex;
  overflow: hidden;
}

.landing-main-menu-open {
  transform: translateY(-300px);
}

.landing-section-right {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.landing-section-right h1 {
  font-size: 70px;
  line-height: 0;
  letter-spacing: -0.08em;
  font-family: NHaasGroteskDSPro, Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
}

.landing-paragraph {
  margin-top: 0;
  margin-bottom: 10px;
}

.landing-section-left {
  cursor: pointer;
  width: 50%; /* Changed from 100vw */
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.landing-video {
  width: 100vw;
  height: 100vh;
  transform: translateX(-25vw);
  transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.showreel-text {
  position: fixed;
  color: black;
  pointer-events: none;
  transition: all 0.1s ease;
  transform: translateX(150px);
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 900;
  font-family: NHaasGroteskDSPro, Helvetica, Arial, sans-serif;
}

.landing-button {
  margin-top: 20px;
  padding: 8px 30px;
  background: transparent;
  border: 2px solid black;

  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.landing-button:hover {
  background: black;
  color: white;
}

.landing-video-fullscreen {
  transform: translateX(0);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
}

.landing-section-right-hidden {
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;
  background: transparent;
}

.landing-section-left-visible {
  transform: translateX(0);
  overflow: visible;
  cursor: default;
}
.video-button-container {
  position: absolute;
  z-index: 9999;
  left: 5%;
  bottom: 5%;
  transform: translate(0, 0);
  display: flex;
  gap: 10px;
}

.video-button-container button {
  border: 0px solid;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
  font-weight: 900;
}

.video-button-container button:hover {
  scale: 1.2;
}
