.trip-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  box-sizing: border-box;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.trip-menu-open {
  transform: translateY(-300px);
}

.trip-column-x {
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* Remove any extra gaps/margins */
  gap: 0;
  margin: 0;
}

.trip-column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
  transition: transform 0.5s ease-in-out;
}

.image-small {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.image-large {
  height: 750px;
  width: 100%;
  object-fit: cover;
}
