.trip-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  box-sizing: border-box;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.trip-menu-open {
  transform: translateY(-300px);
}

.trip-column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: fit-content;
}

.image-small {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.image-large {
  height: 750px;
  width: 100%;
  object-fit: cover;
}

.filter-button-wrapper {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.filter-button-container {
  display: grid;
  place-items: center;
  height: 100vh;
  transition: height 0.5s ease-in-out;
}

.filter-button-container-open {
  height: 10vh;
}

.filter-button {
  transform: rotate(90deg);
  background-color: white;
  border: none;
  z-index: 3;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.05rem;
}
