.trip-filter-menu-wrapper {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.trip-filter-menu-wrapper.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
}

.trip-filter-menu-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 30vw;
  transition: height 0.5s ease-in-out;
}

.trip-filter-menu {
  list-style-type: none;
  padding: 0; /* Optional: remove default padding */
  margin: 0; /* Optional: remove default margin */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.trip-filter-menu-item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.trip-filter-menu-button {
  background-color: white;
  border: none;
  font-size: calc(14px + 0.416667vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  pointer-events: auto;
  text-align: left;
  cursor: pointer;
  font-family: "Funnel Display", serif;
  transition: color 0.3s ease-in-out;
}

.trip-filter-menu-button div {
  font-weight: 100;
}

.trip-filter-menu-button:hover {
  color: #3c4cc7;
}
